@import url(./vscode.css);

.hide {
  display: none !important;
}

.records-table {
  border-collapse: collapse;
  width: 100%;
  min-width: 400px;
}

.records-table > thead > tr {
  background-color: var(--vscode-panelSectionHeader-background);
  color: var(--vscode-foreground);
}

.records-table > thead > tr > th,
.records-table > tbody > tr > td {
  text-align: left;
  vertical-align: text-top;
  padding: 12px 15px;
  min-width: 120px;
}

.records-table > tbody > tr.row {
  cursor: pointer;
}

.records-table > tbody > tr.even {
  background-color: var(--vscode-tree-tableOddRowsBackground);
}

.records-table > tbody > tr:last-of-type {
  border-bottom: 2px solid var(--vscode-panelSectionHeader-border);
}

.records-table > tbody > tr.row-detail {
  box-shadow: 0 -1px var(--vscode-widget-shadow);
}

.detail-table {
  border-collapse: collapse;
  width: 100%;
}

.detail-table > tbody > tr > td {
  padding-bottom: 4px;
  text-align: left;
}

.detail-table > tbody > tr > td:first-of-type {
  min-width: 130px;
  padding-right: 8px;
}

.detail-table > tbody > tr > td:last-of-type {
  width: 100%;
}

.hide-row {
  display: none;
}

/**
 * Panel styles 
 */

.panel {
  /* margin: -var(--container-paddding) 0px; */
  width: 100%;
}

.panel:hover {
  background: var(--vscode-settings-rowHoverBackground);
}

.panel-settings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  /* margin: -var(--container-paddding) 0px; */
}

.panel-settings .title {
  font-weight: bold;
}

.panel-settings input {
  height: 26px;
}


.panel-settings > .groups {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: var(--container-paddding) 0px;
}

.panel-settings > .groups .items {
  height: 26px;
  background-color: salmon;
}



.panel-settings > .spans {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: var(--container-paddding) 0px;
}


.panel-settings > .spans .span-selector {

}

.panel-settings > .spans .span-selector a {
  color: var(--vscode-breadcrumb-foreground);
}

.panel-settings > .spans .span-selector a:hover {
  color: var(--vscode-breadcrumb-focusForeground);
}

.panel-settings > .spans .span-selector .span-active {
  color: var(--vscode-breadcrumb-activeSelectionForeground);
}

.panel-settings .span-relative,
.panel-settings .span-absolute {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: center;
  flex-wrap: nowrap;
  margin-top: 6px;
}

.panel-settings .span-relative input {
  margin-right: 4px;
  width: 90px;
}

.panel-settings .span-relative select {
  /* margin-right: 4px; */
  width: 90px;
}


.panel-settings .span-absolute input {
  margin-left: 4px;
  max-width: 180px;
}